*.stpr

# -write_ado- output
/src/build/odkmeta.ado

# -ste- output
/src/main/write/start/DoStartBaseWriter.mata
/src/main/write/start/DoStartWriter.mata
/src/main/write/end/DoEndBaseWriter.mata
/src/main/write/end/DoEndWriter.mata
